

<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-14 rounded-md mx-2 bg-white shadow-lg">
       <!-- Left Column: Background Image -->
       <div class="w-full border sm:w-64 md:w-full rounded-md bg-cover bg-center min-h-64" style="background-image:url('https://templates.envytheme.com/raque/default/assets/img/register-bg.jpg')">
    </div>
     <!-- Right Column: Form and Content -->
     <div class="w-full p-8 px-12">
        <img class="text-center mx-auto" src="https://templates.envytheme.com/raque/default/assets/img/black-logo.png" alt="">
        
        <h1 class="text-center mt-3 mx-auto text-[#252525] text-2xl lg:text-4xl lg:w-96 font-bold">Open up your Raque Account now</h1>
        <p class="text-center mt-3 text-[gray]">Already signed up? <a routerLink="/app-login" class="hover:text-[#FF1949]">Log in</a></p>
        
        <div class="mt-4">
            <input class="bg-white mt-14 text-gray-700 focus:outline-none focus:shadow-outline border shadow rounded py-2 px-4 block w-full appearance-none" type="email" placeholder="Enter your Email" />
        </div>
        
        <div class="mt-4">
            <input class="bg-white text-gray-700 focus:outline-none focus:shadow-outline border shadow rounded py-2 px-4 block w-full appearance-none" type="password" placeholder="Create a Password"/>
        </div>
        
        <div class="mt-4">
            <button class="bg-[#FF1949] text-white font-bold py-4 px-4 w-full rounded hover:bg-[#0EB582]">Sign up</button>
        </div>
        
        <div class="mt-4 flex items-center justify-between">
            <span class="border-b w-1/5 md:w-1/4"></span>
            <a href="#" class="text-md text-gray-500 uppercase mb-7">or</a>
            <span class="border-b w-1/5 md:w-1/4"></span>
        </div>
        
        <div>
            <a href="#" class="border border-[#3C5998] bg-white py-3 text-[#3C5998] hover:text-white hover:bg-[#3C5998] flex items-center sm:w-auto w-full">
                <i class="ri-facebook-fill hover:text-white pl-4"></i>
                <span class="pl-2 sm:pl-4 md:pl-10">Connect with Facebook</span>
            </a>
        </div>
        
        <div>
            <a href="#" class="border border-[#1DA1F2] mt-4 sm:w-auto w-full bg-white py-3 text-[#1DA1F2] hover:text-white hover:bg-[#1DA1F2] flex items-center">
                <i class="ri-twitter-fill hover:text-white pl-4"></i>
                <span class="pl-2 sm:pl-4 md:pl-10">Connect with Twitter</span>
            </a>
        </div>
    </div>
</div>
