
<footer class="w-full bg-[#12141B]">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <!--Grid-->
        <div class="grid grid-cols-2 lg:grid-cols-6 lg:gap-10 gap-12 pt-24 mt-20 pb-20 max-w-md mx-auto md:max-w-xl lg:max-w-full lg:px-12 ">
            <div class="block col-span-2">
                <h4 class="text-xl text-white font-bold mb-7 ">Contact Us</h4>
                <div class="flex gap-2">
                    <i class="ri-map-pin-line text-white "></i>
                    <a href="#" class="text-white hover:text-[#FF1949]">2750 Quadra Street Victoria Road, New York, USA</a>
                </div>
                <div class="flex gap-2 mt-3">
                    <i class="ri-phone-line text-white"></i>
                    <a href="#" class="text-white hover:text-[#FF1949]">+1 (123) 456 7890</a>
                </div>
                <div class="flex gap-2 mt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mt-1 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                      </svg>
                      
                    <a href="#" class="text-white hover:text-[#FF1949]">Raque&#64;example.com</a>
                </div>
                
                <div class="flex mt-6 gap-2">
                    <!-- facebook -->
                    <a class="w-8 h-8 rounded bg-white text-[#FF1949] flex items-center justify-center overflow-hidden transition-all duration-1000 hover:bg-[#FF1949] hover:text-white active:scale-90" href="#">
                        <i class="ri-facebook-fill"></i>
                    </a>
                  
                     <!-- Twitter -->
                    <a class="w-8 h-8 rounded bg-white text-[#FF1949] flex items-center justify-center overflow-hidden transition-all duration-1000 hover:bg-[#FF1949] hover:text-white active:scale-90" href="#">
                        <i class="ri-twitter-fill"></i>
                    </a>
                  
                    <!-- Instagram -->
                    <a class="w-8 h-8  rounded bg-white text-[#FF1949] flex items-center justify-center overflow-hidden transition-all duration-1000 hover:bg-[#FF1949] hover:text-white active:scale-90" href="#">
                        <i class="ri-instagram-line"></i>
                    </a>
                  
                 <!-- Linkedin -->
                    <a class="w-8 h-8  rounded bg-white text-[#FF1949] flex items-center justify-center overflow-hidden transition-all duration-1000 hover:bg-[#FF1949] hover:text-white active:scale-90" href="#">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                    
                     <!-- printset  -->
                    <a class="w-8 h-8  rounded bg-white text-[#FF1949] flex items-center justify-center overflow-hidden transition-all duration-1000 hover:bg-[#FF1949] hover:text-white active:scale-90" href="#">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                  </div>              
            </div>
            <!--End Col-->
            <div class="block">
                <h4 class="text-xl text-white font-bold mb-7">Support</h4>
                <ul class="text-lg  transition-all duration-500">
                    <li class="mb-2"><a href="javascript:;"  class="text-white hover:text-[#FF1949]">Privacy</a></li>
                    <li class="mb-2"><a href="javascript:;"  class=" text-white hover:text-[#FF1949]">FAQ's</a></li>
                    <li class="mb-2"><a href="javascript:;"  class=" text-white hover:text-[#FF1949]">Support</a></li>
                    <li class="mb-2"><a href="javascript:;"  class=" text-white hover:text-[#FF1949]">Terms</a></li>
                    <li class="mb-2"><a href="javascript:;"  class=" text-white hover:text-[#FF1949]">Condition</a></li>
                    <li class="mb-2"><a href="javascript:;"  class=" text-white hover:text-[#FF1949]">Policy</a></li>
                </ul>
            </div>
            <!--End Col-->
            <div class="block">
                <h4 class="text-xl text-white font-bold mb-7">Useful Link</h4>
                <ul class="text-lg  transition-all duration-500">
                    <li class="mb-2"><a href="javascript:;"  class="text-white hover:text-[#FF1949]">Web Design</a></li>
                    <li class="mb-2"><a href="javascript:;"  class=" text-white hover:text-[#FF1949]">UI/UX Design</a></li>
                    <li class="mb-2"><a href="javascript:;"  class=" text-white hover:text-[#FF1949]">WP Development</a></li>
                    <li class="mb-2"><a href="javascript:;"  class=" text-white hover:text-[#FF1949]">App</a></li>
                    <li class="mb-2"><a href="javascript:;"  class=" text-white hover:text-[#FF1949]">Whitepaper</a></li>
                    <li class="mb-2"><a href="javascript:;"  class=" text-white hover:text-[#FF1949]">Web Development</a></li>
                </ul>
            </div>
            <!--End Col-->
            <div class="block col-span-2">
                <h4 class="text-xl text-white font-bold mb-7">Newsletter</h4>
               <p class="text-white mb-4">To get the latest news and latest updates from us.</p>
               <p class="text-white mb-3">Your e-mail address:</p>
               <!-- <input type="text" id="first_name" class="  text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your email" required /> -->
               <input
               type="email"
               id="email"
               class="text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Enter your email"
               required
             />
             <button
             type="submit"
             class="bg-[#FF1949] hover:bg-[#13B281] text-white font-semibold py-3 px-8 w-full sm:w-auto md:w-full mt-4 rounded"
           >
             Subscribe
           </button>
            </div>

        </div>
        <!--Grid-->
    </div>
    <div class="py-10 bg-[#090A0E] ">
        <div class="grid grid-cols-1  place-items-center ">
          
         <a href=""><img src="https://templates.envytheme.com/raque/default/assets/img/logo.png" alt=""></a>
         <p class="text-[#cccccc] text-xs md:text-sm mt-4"> 2024 <span class="text-white text-base ">Raque </span>Designed By <span class="text-white text-base">EnvyTheme</span> | All rights reserved.</p>
        </div>
    </div>
</footer>
