
<div class=" bg-[#FF1949] lg:h-10 grid  sm:grid-cols-2 md:px-20  pb-8 pt-2">
  <div class=" flex text-center items-center justify-center md:justify-start gap-7">
    <p class="text-xs md:text-base whitespace-nowrap mt-2 sm:mt-0 text-white">Call: +502 464 674</p>
    <p class="hidden sm:block text-white">|</p>
    <p class=" space-x-2 mt-2 sm:mt-0 whitespace-nowrap text-white">
      Follow us:
      <i class="ri-facebook-fill text-white"></i>
      <i class="ri-twitter-fill text-white"></i>
      <i class="ri-linkedin-fill text-white"></i>
      <i class="ri-instagram-line text-white"></i>
    </p>
  </div>
  <div class=" flex items-center justify-center md:justify-end gap-6 mt-2 mb-3 sm:mt-0 sm:mb-0">
    <button class="flex text-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 place-items-center place-content-center">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
      </svg>
      Login
    </button>
    <button class="flex text-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
      </svg>
      Register
    </button>
  </div>
</div>

<!-- navbar start  -->

<div class=" bg-white gap-7 grid grid-cols-2 sm:grid-cols-4 px-3 mt-5">
  <div class=" flex place-content-center lg:justify-center">
  <img src="https://templates.envytheme.com/raque/default/assets/img/black-logo.png" alt="">
  </div>
  <div class="hidden lg:block col-span-2 place-content-center">
    <ul class="flex justify-end space-x-4">
      <li class="relative group">
        <a routerLink=""  class="text-lg">
          Home
          <i class="ri-arrow-down-s-line"></i>
        </a>
      </li>
    
      <li class="relative group">
        <a href="#" class="text-lg">
          Pages
          <i class="ri-arrow-down-s-line"></i>
        </a>
        <div class="absolute left-0 hidden space-y-2 bg-white border-t-2  border-[#FF1949] shadow-md group-hover:block w-52 z-50">
          <a routerLink=""  class="block px-4 py-2 text-gray-800 border-b">About</a>
          <a routerLink="/team-Instructors"  class="block px-4 py-2 text-gray-800 border-b">instructor</a>
          <a routerLink="/app-gallery"  class="block px-4 py-2 text-gray-800 border-b">Gallery</a>
          <a routerLink=""  class="block px-4 py-2 text-gray-800 border-b">Events</a>
          <a routerLink=""  class="block px-4 py-2 text-gray-800 border-b">pricing</a>
          <a routerLink=""  class="block px-4 py-2 text-gray-800 border-b">Feedback</a>
          <a routerLink=""  class="block px-4 py-2 text-gray-800 border-b">partner</a>
          <a routerLink="/app-login"  class="block px-4 py-2 text-gray-800 border-b">Login</a>
          <a routerLink="/app-register"  class="block px-4 py-2 text-gray-800 border-b">Register</a>
          <a routerLink="" class="block px-4 py-2 text-gray-800 border-b">FAQS</a>
          <a routerLink="" class="block px-4 py-2 text-gray-800 border-b">Coming Soon</a>
        </div>
      </li>
    
      <li class="relative group">
        <a href="#" class="text-lg">
          Course
          <i class="ri-arrow-down-s-line"></i>
        </a>
        <div class="absolute left-0 hidden mt-2 space-y-2 bg-white border-t-2  border-[#FF1949]  shadow-md group-hover:block w-52">
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Course Category</a>
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Course List</a>
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Course Detail</a>
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">My Account</a>
        </div>
      </li>
    
      <li class="relative group">
        <a href="#" class="text-lg">
          Blog
          <i class="ri-arrow-down-s-line"></i>
        </a>
        <div class="absolute left-0 hidden mt-2 space-y-2 bg-white border-t-2  border-[#FF1949] shadow-md group-hover:block w-52">
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Blog Grid</a>
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Blog Write Sidebar</a>
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Blog  Grid FullWidth</a>
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Blog Detail</a>
        </div>
      </li>
    
      <li class="relative group">
        <a href="#" class="text-lg">
          Shop
          <i class="ri-arrow-down-s-line"></i>
        </a>
        <div class="absolute left-0 hidden mt-2 space-y-2 bg-white border-t-2  border-[#FF1949] shadow-md group-hover:block w-52">
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Shop Grid</a>
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Shop Grid FullWidth</a>
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Product Detail</a>
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Cart</a>
          <a href="#" class="block px-4 py-2 text-gray-800 border-b">Checkout</a>
        </div>
      </li>
    
      <li class="relative group">
        <a href="#" class="text-lg">
          Contact
        </a>
      </li>
    </ul>
    
  </div>
  <div class="hidden sm:flex sm:block  col-span-2 lg:col-span-1 place-content-center place-items-center place-content-end lg:place-content-start gap-5 ">
    <h1>English</h1>
    <div class="cart">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M4.00436 6.41686L0.761719 3.17422L2.17593 1.76001L5.41857 5.00265H20.6603C21.2126 5.00265 21.6603 5.45037 21.6603 6.00265C21.6603 6.09997 21.6461 6.19678 21.6182 6.29L19.2182 14.29C19.0913 14.713 18.7019 15.0027 18.2603 15.0027H6.00436V17.0027H17.0044V19.0027H5.00436C4.45207 19.0027 4.00436 18.5549 4.00436 18.0027V6.41686ZM6.00436 7.00265V13.0027H17.5163L19.3163 7.00265H6.00436ZM5.50436 23.0027C4.67593 23.0027 4.00436 22.3311 4.00436 21.5027C4.00436 20.6742 4.67593 20.0027 5.50436 20.0027C6.33279 20.0027 7.00436 20.6742 7.00436 21.5027C7.00436 22.3311 6.33279 23.0027 5.50436 23.0027ZM17.5044 23.0027C16.6759 23.0027 16.0044 22.3311 16.0044 21.5027C16.0044 20.6742 16.6759 20.0027 17.5044 20.0027C18.3328 20.0027 19.0044 20.6742 19.0044 21.5027C19.0044 22.3311 18.3328 23.0027 17.5044 23.0027Z"></path></svg>
    </div>
    <div class="search">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748ZM12.1779 7.17624C11.4834 7.48982 11 8.18846 11 9C11 10.1046 11.8954 11 13 11C13.8115 11 14.5102 10.5166 14.8238 9.82212C14.9383 10.1945 15 10.59 15 11C15 13.2091 13.2091 15 11 15C8.79086 15 7 13.2091 7 11C7 8.79086 8.79086 7 11 7C11.41 7 11.8055 7.06167 12.1779 7.17624Z"></path></svg>
    </div>
  </div>
  <div class="menu lg:hidden bg-sky-400 text-end place-content-center ">
    <i class="ri-menu-line"></i>
  </div>
</div>
